/* Currency Button component */
.currency-button-container { 
  width: 100vw;
  position: absolute;
  top: 900px;
}

.currency-buttons-list {
  gap: 28px;
}

.currency-button {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  width: 285px;
  height: 78.22px;
  border-radius: 40px;
  box-shadow: 0px 4px 6px 0px #0000000F;
  background: #FFFFFF;
  justify-content: space-evenly;
  color: #1F2638;
  cursor: pointer;
}

.currency-button-left {
  gap: 15px;
}

.currency-button-icon {
  width: 30px;
  height: 30px;
}

.currency-button-trend {
  color: #ED1D25;
}